<!-- BEGIN MEDIA OBJECT -->
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h1 class="page-heading"><%= @artist_name %></h1>
    <h4 class="small-title">Similar Artists</h4>
    <ul class="media-list media-sm">
      <% @resp.drop(1).each do |artist| %>
        <div class="the-box no-border">
          <li class="media">
            <a class="pull-left" href="element-list-media.html#fakelink">
              <img class="media-object img-rounded" src="<%= artist['image'][1]['content'] %>" alt="Avatar">
            </a>
            <div class="media-body">
              <h4 class="media-heading"><%= link_to artist['name'], show_artist_path(artist['name']) %></h4>
              <% match_level = match_level(artist['match'].to_f) %>
              <div class="label label-<%= match_level[1] %>">
                <%= match_level[0] %> Similarity
              </div>
            </div>
          </li>
        </div>
      <% end %>
    </ul>
    <%= will_paginate @resp %>
  </div><!-- /.col-sm-6 -->
</div>
