<!DOCTYPE html>
<html>
<head>
  <title>Artistunt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrapper">
    <div class="top-navbar">
      <div class="top-navbar-inner">
        <!-- Begin Logo brand -->
        <div class="logo-brand">
          <h2><%= link_to 'Artistunt', root_path %></h2>
        </div><!-- /.logo-brand -->
        <!-- End Logo brand -->
        <div class="top-nav-content">
          <!-- Begin user session nav -->
          <% if user_signed_in? %>
            <ul class="nav-user navbar-right">
              <li class="dropdown">
                <a href="index.html#fakelink" class="dropdown-toggle" data-toggle="dropdown">
                <img src="" class="avatar img-circle" alt="Avatar">
                Hi, <strong><%= current_user.username %></strong>
                </a>
                <ul class="dropdown-menu square primary margin-list-rounded with-triangle">
                  <li><%= link_to "Account Settings", edit_user_registration_path(current_user) %></li>
                  <li><%= link_to "History", user_history_path(current_user.username) %></li>
                  <li class="divider"></li>
                  <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
                </ul>
              </li>
            </ul>
          <% else %>
            <div class="">
              <ul class="nav-user navbar-right">
                <%= link_to 'Sign In', new_user_session_path, class: 'btn btn-default' %>
                <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-default' %>
              </ul>
            </div>
          <% end %>
          <!-- End user session nav -->
        </div>
      </div>
    </div>
    <div class="page-content">
      <div class="container-fluid">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
