<!DOCTYPE html>
<html>
<head>
  <title>Artistunt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="wrapper">
		<div id="header-id">
			<%= render 'layouts/header' %>
		</div>
    <div class="page-content">
      <div class="container-fluid">
        <% flash.each do |name, msg| %>
	  		<%
	      		alertClass = 'danger'
	      		if name == 'notice'
	      			alertClass = 'info'
      			elsif name == 'success'
	      			alertClass = 'success'
	      		elsif name == 'warning'
	      			alertClass = 'warning'
	      		end
      		%>
        <div class="alert alert-<%=alertClass %> alert-bold-border">
          	<a class="close" data-dismiss="alert">&times;</a>
          	<%=msg %>
        	</div>
      	<% end %>
        <%= yield %>
      </div>
    </div>
		<div id="footer-id">
			<%= render 'layouts/footer' %>
		</div>
  </div>
</body>
</html>
